{% embed 'partials/base.html.twig' %}

	{% set header_style = 'dark' %}

	{% set base_url = page.parent.url %}
	{% set feed_url = base_url %}

	{% if base_url == '/' %}
		{% set base_url = '' %}
	{% endif %}

	{% if base_url == base_url_relative %}
		{% set feed_url = base_url~'/'~page.parent.slug %}
	{% endif %}

	{% block content %}

		{% if config.plugins.breadcrumbs.enabled %}
			<div class="vlt-gap-90"></div>
			<div class="container">{% include 'partials/breadcrumbs.html.twig' %}</div>
		{% endif %}

		{% include 'partials/page_title.html.twig' %}

		<div class="container">
			<div class="vlt-gap-50"></div>
			<div class="row">
				<div class="col-sm-8 blog-main">

					<div class="vlt-post__content">
						<div class="vlt-post-excerpt">
							<p>{{ page.content }}</p>
						</div>
					</div>

				</div>

				<div class="col-sm-3 offset-sm-1 blog-sidebar">
					{% include 'partials/post_sidebar.html.twig' with {'posts': page.parent} %}
				</div>
			</div>
		</div>

		<div class="vlt-gap-50"></div>

	{% endblock %}

	{% block pagination %}
		<!--Page navigation-->
		<section class="vlt-page-navigation vlt-page-navigation--style-2">
			<div class="container">
				<div class="row no-gutters align-items-stretch">
					<div class="col-5">

						{% if page.prevSibling.url %}
							<div class="prev">
								<span class="label">Previous</span>
								<h5>
									<a href="{{ page.prevSibling.url }}">{{ page.prevSibling.title }}</a>
								</h5>
							</div>
						{% endif %}

					</div>
					<div class="col-2 d-flex align-items-center justify-content-center">
						<div class="all">
							<a href="{{ page.parent.url }}">
								<i class="icon-grid"></i>
							</a>
						</div>
					</div>
					<div class="col-5">

						{% if page.nextSibling.url %}
							<div class="next">
								<span class="label">Next</span>
								<h5>
									<a href="{{ page.nextSibling.url }}">{{ page.nextSibling.title }}</a>
								</h5>
							</div>
						{% endif %}

					</div>
				</div>
			</div>
		</section>
	{% endblock %}

{% endembed %}
