<!--Section-->
<section class="has-wallpaper" style="background-image:url('{{ page.media.images[page.header.backgroundImage].url }}')">
    <div class="vlt-gap-130"></div>
    <div class="container" style="z-index:2;position:relative;">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <!--Animated block-->
                <div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
                    <h2 class="{{page.header.theme == 'dark'? 'has-white-color' : 'has-black-color'}}">{{ page.title }}</h2>
                </div>
                <div class="vlt-gap-20"></div>
                <!--Animated block-->
                <div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
                    <p class="{{page.header.theme == 'dark'? 'has-white-color' : 'has-black-color'}} fz-3">{{ page.content | striptags }}</p>
                </div>
                <div class="vlt-gap-40"></div>
                <!--Animated block-->
                <div class="vlt-animated-block" data-aos="fade" data-aos-delay="200">
                    {% if page.header.isCustomButton %}
						{{ page.header.buttonSource | raw}}
					{% else %}
					<!--Button--><a class="vlt-btn {{page.header.theme == 'dark'? 'vlt-btn--tertiary' : 'vlt-btn--primary'}} vlt-btn--md" href="{{ page.header.actionButtonLink }}" target="{{page.header.actionButtonTarget}}">{{ page.header.actionButtonLabel }}</a>
					{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="vlt-gap-130"></div>
    <div style="position:absolute;left:0;top:0;bottom:0;right:0;z-index:1;background-color:{{ page.header.backgroundScreenColor }}"></div>
</section>