{% set collection = page.collection() %}
<section class="jarallax has-white-color has-black-background-color">
	
	<img class="jarallax-img" src="{{ page.media.images[page.header.backdrop].url }}" alt="" loading="lazy">
	<div class="vlt-gap-100"></div>
	<div class="container">
		<div class="row align-items-center">
			<div
				class="col-md-8">
				{# <!--Animated block-->
				<div class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
					<span class="vlt-display-1 has-primary-color">{{ page.header.smallTitle }}</span>
				</div> #}
				<div class="vlt-gap-30"></div>
				<!--Animated block-->
				<div
					class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
					<!--Section title-->
					<div class="vlt-section-title vlt-section-title--style-4">
						<h3 class="vlt-section-title__title has-white-color">{{ page.title }}</h3>
					</div>
                    <div class="vlt-gap-30"></div>
                    <div>
                    {{page.content}}
                    </div>
				</div>
				<div class="vlt-gap-30--sm"></div>
			</div>
			{% if (collection.first) %}
			<div class="col-md-4">
				<div
					class="text-md-right has-black-color">
					<!--Animated block-->
					<div
						class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
						<!--Simple link-->
						<a class="vlt-btn vlt-simple-link vlt-simple-link--md vlt-btn--md vlt-btn--outline" href="{{(collection.first).parent.url}}" target="_self">Explore More<i class="icon-arrow-top-right"></i>
						</a>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>

	{% include 'partials/service_listing_alt.html.twig' with {'services': collection} %}

</section>
