<!--Section-->
<section class="has-black-background-color has-white-color">
	<div class="container">
		<div class="row align-items-center">

			<div
				class="col-lg-12 text-center">
				<!--Animated block-->
				<div
					class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
					<!--Section title-->
					<div class="vlt-section-title vlt-section-title--style-1">
						<h3 class="vlt-section-title__title has-white-color">{{page.header.heading}}</h3>
					</div>
					<!--Animated block-->
					<div class="vlt-animated-block" data-aos="fade" data-aos-delay="100">
						{{page.header.subtext}}
					</div>
				</div>
				<div class="vlt-gap-60"></div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-12 p-0">

				<div class="row no-gutters">
					{% for item in page.header.features %}
						<div
							class="col-md-3">
							<!--Animated block-->
							<div
								class="vlt-animated-block" data-aos="fade" data-aos-delay="300">
								<!--Service-->
								<div
									class="vlt-service vlt-service--style-2 service-style-dark">
									{# <a class="vlt-service__link" href="service-single.html"></a> #}
									<div class="vlt-service__content">
										<div class="vlt-service__media">
											{{item.vectorIcon}}
										</div>
										<div class="vlt-service__content">
											<h5 class="vlt-service__title">{{item.title}}</h5>
											<p class="vlt-service__text">{{item.description}}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="vlt-gap-130"></div>
	</section>
