<section class="has-extra-light-gray-background-color vlt-custom--5156">
	<div class="vlt-gap-40"></div>
	<div class="container">
		<div class="row">
			<div
				class="col-md-6 offset-md-3 text-center">
				<!--Animated block-->
				<div
					class="vlt-animated-block" data-aos="fade" data-aos-delay="0">
					<!--Section title-->
					<div class="vlt-section-title vlt-section-title--style-1">
						<div class="vlt-section-title__text">{{page.content | markdown}}</div>
					</div>
				</div>
				<div class="vlt-gap-60"></div>
			</div>
		</div>

		<div class="vlt-isotope-grid pricing-grid" data-columns="{{page.header.cols}}" data-layout="masonry" data-x-gap="20|20" data-y-gap="20|20">
			<div class="grid-sizer"></div>
			{% for item in page.header.plans %}

				<div class="vlt-animated-block" data-aos="fade" data-aos-delay="{{ loop.index + 1 }}00">
					<div
						class="grid-item">
						<!--Pricing table-->
						<div class="vlt-pricing-table {% if(item.featured) %} vlt-pricing-table--featured {% endif %}">
							<div class="vlt-pricing-table__header">
								<h4 class="vlt-pricing-table__title">{{item.name}}
								</h4>
							</div>
							<div class="vlt-gap-50"></div>
							<div class="vlt-pricing-table__price">
								<span class="currency">{{item.currencySymbol}}</span>
								<span class="price">{{item.price}}</span>
							</div>
							<div class="period">{{item.unit}}</div>
							<div class="vlt-gap-50"></div>
							<div class="vlt-pricing-table__content">
								<ul>
									{% for feature in item.features %}
										<li class="active">
											<i class="icon-check"></i>
											{{feature.description}}
										</li>
									{% endfor %}
								</ul>
							</div>
							<div
								class="vlt-pricing-table__action">
								<!--Button-->
								<a class="vlt-btn
								{% if (item.featured) %}
								vlt-btn--tertiary
								{% else %}
								vlt-btn--secondary
								{% endif %}
								vlt-btn--sm" href="{{item.buttonUrl}}" target="{{item.buttonTarget}}">{{item.buttonLabel}}</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
<div class="vlt-gap-80"></div>
