<!DOCTYPE html>
<html class="no-js vlt-is--header-default vlt-is--footer-style-1 vlt-is--footer-fixed" lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
	<head>
		{% block head %}
			<meta charset="utf-8"/>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			{% include 'partials/metadata.html.twig' %}

			<title>
				{% if header.title %}
					{{ header.title|e('html') }}
					|
				{% endif %}
				{{ site.title|e('html') }}</title>
			<!--Favicon-->
			<link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://icons/apple-touch-icon.png', true) }}">
			<link rel="icon" type="image/png" sizes="32x32" href="{{ url('theme://icons/favicon-32x32.png', true) }}">
			<link rel="icon" type="image/png" sizes="16x16" href="{{ url('theme://icons/favicon-16x16.png', true) }}">
			<link rel="manifest" href="{{ url('theme://icons/site.webmanifest', true) }}">
			<link rel="mask-icon" href="{{ url('theme://icons/safari-pinned-tab.svg', true) }}" color="#1d41c2">
			<meta name="msapplication-TileColor" content="#2b5797">
			<meta name="theme-color" content="#ffffff">

			{% block stylesheets %}
				{% do assets.add('theme://css/font-awesome.min.css', 99) %}
				{% do assets.add('theme://fonts/Oswald/style.css', 99) %}
				{% do assets.add('theme://fonts/Skape/style.css', 99) %}
				{% do assets.add('theme://css-compiled/vlt-plugins.min.css', 98) %}
				{% do assets.add('theme://css-compiled/vlt-main.min.css', 98) %}
				{% do assets.add('theme://css-compiled/custom.css', 98) %}
			{% endblock %}

			{% block javascripts %}
				{% do assets.add('jquery', 101) %}
				{% do assets.add('theme://js/modernizr-custom.js', 100) %}
				{% do assets.add('theme://js/vlt-plugins.min.js', {group:'bottom'}) %}
				{% do assets.add('theme://js/vlt-helpers.js', {group:'bottom'}) %}
				{% do assets.add('theme://js/vlt-controllers.min.js', {group:'bottom'}) %}

				{% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
					{% do assets.add('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') %}
					{% do assets.add('theme://js/html5shiv-printshiv.min.js') %}
				{% endif %}
			{% endblock %}

			{% block assets deferred %}
				{{ assets.css()|raw }}
				{{ assets.js()|raw }}
			{% endblock %}

		{% endblock head %}
		<!-- Facebook Pixel Code -->
		<script>
			var host = window.location.hostname;
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window,document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			if(host != 'localhost') {
				fbq('init', '853774151985871');
				fbq('track', 'PageView');
			}
		</script>
		<noscript>
			<img height="1" width="1" src="https://www.facebook.com/tr?id=853774151985871&ev=PageView&noscript=1"/>
		</noscript>
		<!-- End Facebook Pixel Code -->
	</head>

	<body
		class="{% block body_classes %}{{ page.header.body_classes }}{% endblock %}">
		<!--Site preloader-->
		<div class="vlt-site-preloader" data-animate-to="M0 0h202v66H0z">
			<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="150.000000pt" height="64.500000pt" viewbox="0 0 900.000000 387.000000" preserveaspectratio="xMidYMid meet">
				<g transform="translate(0.000000,387.000000) scale(0.100000,-0.100000)" fill="#888888" stroke="none">
					<path d="M7610 3858 c0 -7 -14 -26 -30 -42 -47 -46 -42 -92 16 -150 41 -42 45 -49 42 -88 -3 -38 -6 -43 -33 -49 -60 -13 -109 -41 -156 -90 -27 -28 -49 -55 -49 -61 0 -6 -8 -20 -17 -30 -10 -11 -13 -22 -7 -27 5 -4 65 -4 134 2 79 6 180 5 275 -1 184 -12 190 -8 120 85 -47 61 -84 89 -150 111 -55 19 -60 23 -63 53 -5 48 4 72 37 93 57 38 58 120 3 170 -12 10 -19 23 -16 27 3 5 -20 9 -50 9 -38 0 -56 -4 -56 -12z"/>
					<path d="M143 3278 c-6 -7 -16 -31 -23 -53 -27 -86 -38 -122 -55 -180 -10 -33 -24 -76 -32 -96 -31 -76 -76 -70 574 -70 591 1 625 -1 578 -35 -9 -7 -34 -28 -54 -46 -20 -19 -80 -73 -133 -120 -91 -81 -166 -149 -192 -174 -6 -6 -56 -50 -111 -99 -93 -83 -162 -145 -189 -171 -6 -5 -55 -49 -108 -96 -54 -48 -115 -103 -138 -124 -48 -45 -80 -73 -182 -162 l-77 -67 0 -212 -1 -213 843 0 c960 0 864 -10 892 91 17 59 37 127 61 204 9 28 18 65 21 83 l5 32 -598 0 c-651 -1 -642 -2 -572 52 37 29 65 53 121 105 21 19 81 73 135 121 86 77 153 137 186 167 19 19 130 118 211 190 43 39 83 75 89 81 6 6 56 50 111 99 118 105 154 137 252 229 l73 69 -2 201 -3 201 -836 3 c-662 2 -839 -1 -846 -10z"/>
					<path d="M2087 3283 c-4 -3 -7 -435 -7 -959 0 -859 2 -952 16 -958 9 -3 397 -6 864 -6 666 0 850 3 857 13 5 6 18 39 28 72 10 33 24 78 30 100 7 22 21 67 30 100 10 33 22 70 28 83 7 14 7 26 1 32 -6 6 -269 11 -699 12 l-690 3 0 170 0 170 593 3 c463 2 592 5 593 15 5 82 -1 381 -8 388 -5 5 -264 10 -593 11 l-585 3 -3 164 c-2 125 1 166 10 173 7 4 288 8 623 8 336 0 617 0 626 0 12 0 23 21 39 73 12 39 28 87 36 105 8 18 14 41 14 52 0 11 6 34 14 52 24 59 37 108 31 118 -7 11 -1837 15 -1848 3z"/>
					<path d="M4330 3244 c-11 -26 -20 -55 -20 -66 0 -11 -5 -29 -12 -41 -6 -12 -15 -38 -19 -57 -7 -37 -22 -80 -47 -143 -11 -28 -12 -41 -4 -49 8 -8 201 -11 674 -12 l663 -1 36 -23 c70 -43 96 -93 106 -201 11 -118 -55 -236 -147 -261 -52 -15 -867 -13 -876 1 -4 7 -6 78 -5 159 2 120 0 149 -13 159 -12 10 -19 10 -38 0 -13 -7 -39 -16 -58 -19 -19 -4 -71 -17 -115 -30 -44 -12 -102 -28 -130 -35 -27 -8 -62 -18 -78 -24 l-27 -11 2 -612 3 -613 214 -3 c152 -2 218 1 228 9 11 10 14 62 13 295 -1 156 1 288 5 294 4 6 109 10 303 10 296 0 298 0 317 -22 11 -13 24 -31 30 -40 5 -9 37 -56 70 -103 33 -48 67 -97 75 -110 32 -51 75 -110 83 -113 4 -2 7 -8 7 -14 0 -5 20 -36 45 -68 25 -32 45 -62 45 -67 0 -5 13 -23 29 -41 l30 -32 255 0 c154 0 257 4 261 10 3 5 -16 38 -43 72 -27 35 -62 84 -79 109 -17 26 -38 55 -47 65 -9 11 -71 93 -138 184 -67 91 -128 170 -136 176 -21 16 -8 42 25 50 49 13 138 72 197 130 52 52 126 161 126 185 0 6 6 23 14 37 22 42 46 163 46 232 0 86 -36 239 -71 300 -4 8 -17 33 -28 55 -46 90 -173 207 -281 257 -30 15 -94 36 -141 47 -83 20 -112 21 -707 21 l-621 0 -21 -46z"/>
					<path d="M7475 3268 c-271 -29 -510 -129 -674 -282 -53 -50 -144 -175 -178 -246 -80 -168 -97 -250 -96 -475 0 -153 4 -193 23 -265 12 -47 26 -89 31 -95 5 -5 9 -16 9 -26 0 -19 49 -113 96 -184 44 -68 156 -179 227 -226 32 -22 61 -39 64 -39 4 0 14 -6 22 -13 20 -17 148 -70 216 -90 264 -79 632 -78 890 0 63 20 195 73 215 87 8 6 31 20 50 30 84 46 192 143 256 231 81 112 144 262 158 380 4 28 11 73 16 100 28 152 -20 449 -91 575 -5 8 -13 25 -19 37 -41 95 -186 253 -295 320 -43 27 -208 106 -238 114 -273 73 -461 91 -682 67z m375 -423 c189 -28 302 -93 382 -218 60 -94 87 -201 87 -352 1 -129 -33 -293 -67 -327 -7 -7 -12 -16 -12 -21 0 -34 -130 -149 -205 -179 -132 -54 -306 -75 -489 -58 -206 20 -316 64 -411 165 -50 54 -82 115 -109 206 -25 86 -22 342 4 433 11 38 24 74 30 80 5 5 10 17 10 27 0 9 27 45 59 81 87 94 177 137 341 163 114 17 264 17 380 0z"/>
					<path d="M7364 2421 c-39 -10 -67 -29 -96 -66 -18 -23 -23 -42 -23 -90 0 -51 4 -66 29 -98 82 -108 240 -78 286 54 38 108 -79 227 -196 200z m95 -97 c23 -19 31 -34 31 -58 0 -83 -101 -118 -154 -55 -34 40 -33 71 5 108 38 39 76 40 118 5z"/>
					<path d="M7913 2422 c-22 -2 -47 -18 -78 -48 -43 -44 -45 -48 -45 -106 0 -72 17 -105 73 -142 46 -29 96 -34 148 -12 42 18 70 48 94 103 17 41 17 44 0 89 -34 88 -98 127 -192 116z m88 -93 c24 -17 29 -28 29 -62 0 -55 -30 -87 -82 -87 -45 0 -88 37 -88 76 0 79 77 119 141 73z"/>
					<path d="M6420 2460 c-71 -37 -75 -47 -75 -197 l0 -135 39 -34 c23 -20 50 -34 65 -34 l26 0 -2 201 c0 111 -5 205 -10 209 -4 5 -24 0 -43 -10z"/>
					<path d="M8850 2465 c-9 -11 -9 -30 0 -87 12 -69 10 -158 -6 -270 -7 -47 -6 -48 21 -48 35 0 91 34 98 60 3 11 12 20 21 20 14 0 16 17 16 125 0 98 -3 125 -13 125 -8 0 -19 11 -25 25 -6 13 -29 33 -51 45 -48 24 -45 24 -61 5z"/>
					<path d="M160 987 c-60 -23 -140 -96 -140 -127 0 -10 -4 -22 -10 -25 -15 -9 -12 -184 4 -230 19 -55 93 -126 152 -148 42 -15 88 -17 327 -17 240 0 284 -2 314 -17 92 -43 98 -182 10 -230 -29 -16 -74 -19 -422 -23 l-390 -5 -3 -60 c-2 -32 -1 -69 3 -82 l5 -23 401 0 c457 0 465 1 549 77 28 25 50 51 50 58 0 7 7 26 15 41 10 20 15 59 15 120 0 111 -20 165 -84 221 -75 66 -119 73 -440 73 l-278 0 -34 34 c-50 50 -50 122 0 172 l34 34 369 0 c274 0 372 3 381 12 16 16 16 140 0 156 -9 9 -109 12 -392 11 -366 0 -383 -1 -436 -22z"/>
					<path d="M1248 1000 c-1 -5 -2 -233 0 -505 l2 -496 83 3 82 3 3 480 c1 264 0 490 -3 503 -5 20 -11 22 -84 22 -44 0 -81 -4 -83 -10z"/>
					<path d="M2035 998 c-3 -7 -6 -101 -7 -208 l-3 -195 -240 -5 -240 -5 -3 -64 c-2 -35 1 -68 7 -74 6 -6 94 -9 228 -8 120 1 226 -1 236 -4 15 -7 17 -27 17 -221 l0 -214 84 0 c67 0 85 3 90 16 8 20 8 958 0 978 -5 13 -22 16 -85 16 -55 0 -81 -4 -84 -12z"/>
					<path d="M2718 986 c-156 -54 -265 -174 -304 -336 -24 -100 -13 -269 23 -350 6 -14 14 -32 18 -40 32 -79 135 -181 220 -219 81 -36 121 -41 320 -41 237 0 295 13 390 84 69 52 145 140 145 169 0 9 4 18 9 21 23 15 51 146 51 243 0 236 -119 404 -334 474 -50 16 -89 19 -265 19 -189 -1 -212 -3 -273 -24z m506 -173 c62 -22 136 -93 166 -159 32 -69 33 -227 2 -294 -32 -69 -86 -126 -150 -157 -56 -28 -59 -28 -247 -28 -188 0 -191 0 -247 28 -62 30 -135 104 -145 146 -3 14 -11 32 -17 40 -6 8 -11 56 -11 115 0 92 3 106 30 160 31 62 87 117 151 146 57 27 396 28 468 3z"/>
					<path d="M3709 1003 c-5 -50 -3 -142 3 -155 8 -16 27 -18 183 -18 l175 0 0 -402 c0 -222 4 -409 9 -416 5 -9 30 -12 87 -10 l79 3 3 413 2 412 174 0 c137 0 176 3 185 14 7 9 11 42 9 88 l-3 73 -452 3 c-249 1 -453 -1 -454 -5z"/>
					<path d="M5240 998 c-1 -11 0 -952 0 -985 0 -10 87 -13 401 -13 472 0 471 0 559 90 44 44 59 68 73 116 21 75 22 131 1 186 -18 47 -67 104 -96 114 -28 9 -21 39 15 64 51 35 72 89 71 185 -1 93 -23 140 -91 192 -77 60 -104 63 -539 63 -308 0 -394 -3 -394 -12z m806 -195 c39 -28 55 -79 42 -132 -18 -72 -30 -75 -308 -81 l-245 -5 0 -70 0 -70 246 -5 c262 -5 258 -4 306 -60 32 -36 31 -109 -1 -148 -46 -54 -97 -62 -397 -62 -203 0 -270 3 -276 13 -8 12 -14 626 -6 640 3 4 140 7 306 5 292 -3 303 -4 333 -25z"/>
					<path d="M6800 994 c-102 -34 -181 -86 -236 -158 -19 -25 -34 -48 -34 -52 0 -4 -6 -15 -13 -23 -55 -67 -72 -309 -29 -429 59 -167 162 -269 322 -318 63 -19 418 -19 493 0 116 30 240 132 288 236 53 113 54 120 54 265 0 139 -8 182 -46 245 -5 8 -13 25 -18 36 -15 35 -102 119 -151 148 -101 57 -154 66 -379 65 -152 0 -218 -4 -251 -15z m492 -184 c48 -21 138 -95 138 -113 0 -6 6 -18 13 -26 18 -22 39 -110 39 -166 0 -56 -21 -144 -39 -166 -7 -8 -13 -20 -13 -26 0 -6 -24 -33 -54 -60 -82 -73 -136 -86 -344 -81 -159 3 -170 5 -224 31 -52 25 -128 98 -128 122 0 5 -6 16 -13 24 -16 19 -37 108 -37 156 0 97 56 220 123 268 74 52 89 55 298 56 175 1 201 -1 241 -19z"/>
					<path d="M7767 1003 c-13 -12 -8 -150 6 -162 8 -6 80 -12 188 -13 l174 -3 2 -395 c1 -217 3 -403 3 -412 0 -16 11 -18 79 -18 65 0 80 3 85 17 4 9 6 190 6 402 0 212 -1 392 0 399 0 9 43 12 180 12 210 0 201 -5 191 110 l-6 65 -451 3 c-248 1 -454 -1 -457 -5z"/>
				</g>
			</svg>
		</div>
		{% if config.plugins.langswitcher.enabled %}
			{% include 'partials/langswitcher.html.twig' %}
		{% endif %}

		{% block header_navigation %}
			{% if header_style is null %}
				{% set header_style = 'dark' %}
			{% endif %}
			{% include 'partials/navigation.html.twig' with {'style' : header_style} %}
		{% endblock %}

		<!--Site overlay-->
		<div class="vlt-site-overlay"></div>
		<!--Main-->
		<main
			class="vlt-main">
			<!--Page content-->
			<div class="vlt-page-content">
				<div>
					{% block content %}{% endblock %}
				</div>
				{% block pagination %}{% endblock %}
			</div>
		</main>

		{% block footer %}
			{% if isFooterVisible is null %}
				{% set isFooterVisible = true %}
			{% endif %}
			{% include 'partials/footer.html.twig' with {'isFooterVisible' : isFooterVisible} %}
		{% endblock %}


		{% block bottom %}
			{{ assets.js('bottom')|raw }}
		{% endblock %}

		<!-- Google Tag Manager -->

		<script>
			(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],

            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);

            })(window, document, 'script', 'dataLayer', 'GTM-THZM9VQ');
        </script>

        <!-- End Google Tag Manager -->

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192640689-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-192640689-1');
        </script>
        <script type="text/javascript">
            (function () {
                window.ma_el_fs = {
                can_use_premium_code: false
            };
            })();
        </script>
        <script>
			document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
			if(host == 'localhost') {
				window['ga-disable-UA-192640689-1'] = true;
				console.log('analytics disabled');
			}
		</script>

        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THZM9VQ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->

    </body>
</html>
