
<!--Header-->
<div class="d-none d-lg-block">
    <header class="vlt-header vlt-header--offcanvas">
        <div class="vlt-navbar vlt-navbar--main vlt-navbar--transparent vlt-navbar--sticky {% if header_style == 'light' %} vlt-navbar--white-text-on-top {% endif %}">
            <div class="container">
                <div class="vlt-navbar-inner">
                    <div class="vlt-navbar-inner--left">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <!--Logo-->
                            <a class="vlt-navbar-logo" href="{{ base_url == '' ? '/' : base_url }}">
                                {% include 'partials/logo.html.twig' %}
                            </a>
                        </div>
                    </div>
                    <div class="vlt-navbar-inner--right">

                        <div class="d-flex align-items-center justify-content-center h-100">
                            <div class="vlt-navbar-buttons d-flex align-items-center"><a class="vlt-menu-burger js-offcanvas-menu-toggle" href="#"><span class="line-one"></span><span class="line-two"></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav class="vlt-nav vlt-nav--offcanvas" data-submenu-effect="style-3"><a class="vlt-menu-burger js-offcanvas-menu-toggle" href="#"><span class="line-one"></span><span class="line-two"></span></a>
        <div class="vlt-nav-table vlt-nav-table--row">
            <div class="vlt-nav-row vlt-nav-row--full vlt-nav-row--center">
                <div class="vlt-nav--offcanvas__navigation">
                    <!--Navigation-->
                    
                    <!--Menu-->
                    <ul class="sf-menu" data-back-text="Back">
                        {% for page in pages.children.visible %}
                            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                            {% if config.themes.bootstrap4.dropdown.enabled and page.children.visible.count > 0 %}
                                <li class="menu-item menu-item-has-children {{ current_page }}"><a href="#"><span>{{ page.menu }}</span></a>
                                    <ul class="sub-menu">
                                        {% for child in page.children.visible %}
                                            <li class="left">
                                                <a href="{{ child.url }}" class="{{ current_child }}"><span>{{ child.menu }}</span></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="menu-item {{ current_page }}"><a href="{{ page.url }}"><span>{{ page.menu }}</span></a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                </div>
            </div>
            <div class="vlt-nav-row vlt-nav-row--full vlt-nav-row--center">
                <div class="vlt-nav--offcanvas__sidebar">
                    <!--Widget-->
                    <div class="vlt-widget vlt-widget--links">
                        <ul>
                            <li><a href="https://portal.zeroshotbot.com">Get Access Now</a></li>
                            <li><a href="https://portal.zeroshotbot.com">Login</a></li>
                        </ul>
                    </div>
                    <div class="vlt-gap-130"></div>
                    <!--Widget-->
                    <div class="vlt-widget vlt-widget--html">
                        <a class="vlt-simple-link vlt-simple-link--sm" href="privacy" target="_self">Privacy</a> | <a class="vlt-simple-link vlt-simple-link--sm" href="terms" target="_self">Terms</a>
                        <p><!--Simple link--><a class="vlt-simple-link vlt-simple-link--sm" href="mailto:{{ theme_var('footer-contact') }}" target="_self">{{ theme_var('footer-contact') }}</a><br></p>
                    </div>
                    <!--Widget-->
                    <div class="vlt-widget vlt-widget--socials">
                     {% for item in theme_var('footer-social') %}
                        <a href="{{ item.socialIconLink }}" class="vlt-social-icon vlt-social-icon--style-2">
                            <i class="{{ item.socialIconClass }}" aria-hidden="true"></i>
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </nav>


</div>


<div class="d-lg-none d-sm-block">
    <header class="vlt-header vlt-header--fullscreen">
        <div class="vlt-navbar vlt-navbar--main vlt-navbar--transparent vlt-navbar--sticky vlt-navbar--transparent vlt-navbar--sticky {% if header_style == 'light' %} vlt-navbar--white-text-on-top {% endif %}">
            <div class="container">
                <div class="vlt-navbar-inner">
                    <div class="vlt-navbar-inner--left">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <!--Logo-->
                            <a class="vlt-navbar-logo" href="{{ base_url == '' ? '/' : base_url }}">
                                {% include 'partials/logo.html.twig' %}
                            </a>
                        </div>
                    </div>
                    <div class="vlt-navbar-inner--right">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <!--Buttons-->
                            <div class="vlt-navbar-buttons d-flex align-items-center"><a class="vlt-menu-burger js-fullscreen-menu-toggle" href="#"><span class="line-one"></span><span class="line-two"></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="vlt-nav vlt-nav--fullscreen" data-submenu-effect="style-1">
        <div class="vlt-nav--fullscreen__mask">
            {# <svg id="v75logo_svg_menu" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 305 305.010000" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" width="305" height="305.010000"><style><![CDATA[#v75logo_svg_menu-group-5_to {animation: v75logo_svg_menu-group-5_to__to 3000ms linear infinite alternate-reverse forwards}@keyframes v75logo_svg_menu-group-5_to__to { 0% {transform: translate(0px,286px);animation-timing-function: cubic-bezier(0.785000,0.135000,0.150000,0.860000)} 26.666667% {transform: translate(0px,0px)} 100% {transform: translate(0px,0px)} }#v75logo_svg_menu-group-7_to {animation: v75logo_svg_menu-group-7_to__to 3000ms linear infinite alternate-reverse forwards}@keyframes v75logo_svg_menu-group-7_to__to { 0% {transform: translate(290px,0px);animation-timing-function: cubic-bezier(0.785000,0.135000,0.150000,0.860000)} 26.666667% {transform: translate(0px,0px)} 100% {transform: translate(0px,0px)} }#v75logo_svg_menu-group-v_to {animation: v75logo_svg_menu-group-v_to__to 3000ms linear infinite alternate-reverse forwards}@keyframes v75logo_svg_menu-group-v_to__to { 0% {transform: translate(0px,-300px);animation-timing-function: cubic-bezier(0.785000,0.135000,0.150000,0.860000)} 23.333333% {transform: translate(0.684998px,-0.510000px)} 100% {transform: translate(0.684998px,-0.510000px)} }]]></style><g id="v75logo_svg_menu-layer-2"><g id="v75logo_svg_menu-g1"><g id="v75logo_svg_menu-group-5_to" transform="translate(0,0)"><g id="v75logo_svg_menu-group-5" transform="translate(0,0)" opacity="0.65"><polygon id="v75logo_svg_menu-polygon1" points="304.460000,19.680000 254.460000,86.180000 304.460000,86.180000 304.460000,19.680000" fill="none" stroke="rgb(0,0,0)" stroke-width="1" stroke-miterlimit="10"/><polygon id="v75logo_svg_menu-polygon2" points="202.250000,154.510000 164.750000,204.760000 254.750000,204.760000 254.750000,254.760000 127,254.760000 90.250000,304.510000 304.500000,304.510000 304.500000,154.510000 202.250000,154.510000" fill="none" stroke="rgb(0,0,0)" stroke-width="1" stroke-miterlimit="10"/></g></g><g id="v75logo_svg_menu-group-7_to" transform="translate(0,0)"><g id="v75logo_svg_menu-group-7" transform="translate(0,0)" opacity="0.65"><polygon id="v75logo_svg_menu-polygon3" points="74.480000,304.340000 303.500000,0.510000 240.890000,0.510000 12.030000,304.130000 74.480000,304.340000" transform="matrix(1 0 0 1 0.95999999999998 0)" fill="none" stroke="rgb(0,0,0)" stroke-width="1" stroke-miterlimit="10"/><polygon id="v75logo_svg_menu-polygon4" points="61.880000,0.500000 61.880000,50.500000 187.780000,50.500000 226.540000,0.500000 61.880000,0.500000" fill="none" stroke="rgb(0,0,0)" stroke-width="1" stroke-miterlimit="10"/></g></g><g id="v75logo_svg_menu-group-v_to" transform="translate(0.684998,-0.510000)"><g id="v75logo_svg_menu-group-v" transform="translate(0,0)" opacity="0.65"><polygon id="v75logo_svg_menu-polygon5" points="117.380000,62.010000 180.130000,62.010000 61.880000,218.010000 61.880000,135.260000 117.380000,62.010000" transform="matrix(1 0 0 1 -1 0)" fill="none" stroke="rgb(0,0,0)" stroke-width="1" stroke-miterlimit="10"/><polygon id="v75logo_svg_menu-polygon6" points="0.500000,298.760000 50.500000,232.760000 50.270000,0.510000 0.500000,0.510000 0.500000,298.760000" transform="matrix(1 0 0 1 -0.50000000000000 0)" fill="none" stroke="rgb(0,0,0)" stroke-width="1" stroke-miterlimit="10"/></g></g></g></g></svg> #}
        </div>
        <div class="vlt-nav-table">
            <div class="vlt-nav-row">
                <div class="vlt-nav--fullscreen__header">
                    <div class="container">
                        <div class="d-flex align-items-center justify-content-between">
                            <!--Logo-->
                            <a class="vlt-navbar-logo" href="index.html">
                                {% include 'partials/logo.html.twig' %}
                            </a>
                            <a class="vlt-menu-burger js-fullscreen-menu-toggle" href="#"><span class="line-one"></span><span class="line-two"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vlt-nav-row vlt-nav-row--full vlt-nav-row--center">
                <div class="container">
                    <div class="vlt-nav--fullscreen__navigation">
                        <!--Navigation-->

                        <!--Menu-->
                        <ul class="sf-menu" data-back-text="Back">
                            {% for page in pages.children.visible %}
                                {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                                {% if config.themes.bootstrap4.dropdown.enabled and page.children.visible.count > 0 %}
                                    <li class="menu-item menu-item-has-children {{ current_page }}"><a href="#"><span>{{ page.menu }}</span></a>
                                        <ul class="sub-menu">
                                            {% for child in page.children.visible %}
                                                <li class="left">
                                                    <a href="{{ child.url }}" class="{{ current_child }}"><span>{{ child.menu }}</span></a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="menu-item {{ current_page }}"><a href="{{ page.url }}"><span>{{ page.menu }}</span></a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
            <div class="vlt-nav-row">
                <div class="vlt-gap-60"></div>
            </div>
        </div>
    </nav>
</div>
