<!--Header-->
<div class="d-none d-lg-block">
	<header class="vlt-header vlt-header--offcanvas">
		<div class="vlt-navbar vlt-navbar--main vlt-navbar--transparent vlt-navbar--sticky {% if header_style == 'light' %} vlt-navbar--white-text-on-top {% endif %}">
			<div class="container">
				<div class="vlt-navbar-inner">
					<div class="vlt-navbar-inner--left">
						<div
							class="d-flex align-items-center justify-content-center h-100">
							<!--Logo-->
							<a class="vlt-navbar-logo" href="{{ base_url == '' ? '/' : base_url }}">
								{% include 'partials/logo.html.twig' %}
							</a>
						</div>
					</div>
					<div class="vlt-navbar-inner--right">

						<div class="d-flex align-items-center justify-content-center h-100">
							<div class="vlt-navbar-buttons d-flex align-items-center">
								<a class="vlt-menu-burger js-offcanvas-menu-toggle" href="#">
									<span class="line-one"></span>
									<span class="line-two"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<nav class="vlt-nav vlt-nav--offcanvas" data-submenu-effect="style-3">
		<a class="vlt-menu-burger js-offcanvas-menu-toggle" href="#">
			<span class="line-one"></span>
			<span class="line-two"></span>
		</a>
		<div class="vlt-nav-table vlt-nav-table--row">
			<div class="vlt-nav-row vlt-nav-row--full vlt-nav-row--center">
				<div class="vlt-nav--offcanvas__navigation">
					<!--Navigation-->
					<!--Particle image--><img class="vlt-particle" src="{{ url('theme://images/root/square-plus-pattern.png') }}" data-animation-name="fadeInRight" alt="" style="position: absolute; bottom: 50px; right: 0; z-index:-1; max-width: 210px; --animate-delay: .20s;" loading="lazy">
					<!--Menu-->
						<ul class="sf-menu" data-back-text="Back"> {% for page in pages.children.visible %}
							{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
							{% if config.themes.bootstrap4.dropdown.enabled and page.children.visible.count > 0 %}
								<li class="menu-item menu-item-has-children {{ current_page }}">
									<a href="#">
										<span>{{ page.menu }}</span>
									</a>
									<ul class="sub-menu">
										{% for child in page.children.visible %}
											<li class="left">
												<a href="{{ child.url }}" class="{{ current_child }}">
													<span>{{ child.menu }}</span>
												</a>
											</li>
										{% endfor %}
									</ul>
								</li>
							{% else %}
								<li class="menu-item {{ current_page }}">
									<a href="{{ page.url }}">
										<span>{{ page.menu }}</span>
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>

				</div>
			</div>
			<div class="vlt-nav-row vlt-nav-row--full vlt-nav-row--center">
				<div
					class="vlt-nav--offcanvas__sidebar">
					<!--Widget-->
					<div class="vlt-widget vlt-widget--links">
						<ul>
							{% for item in theme_var('navbar_secondary_links') %}
								<li>
									<a href="{{item.url}}" target="{{item.target}}">{{item.label}}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div class="vlt-gap-130"></div>
					<!--Widget-->
					<div class="vlt-widget vlt-widget--html">
						{% for item in theme_var('navbar_footer_links') %}
							<div>
								<a class="vlt-simple-link vlt-simple-link--sm" href="{{item.url}}" target="{{item.target}}">{{item.label}}</a>
							</div>
						{% endfor %}
						<div class="vlt-gap-20"></div>
						<p>
							<a class="vlt-simple-link vlt-simple-link--sm" href="mailto:{{ theme_var('footer-contact') }}" target="_self">{{ theme_var('footer-contact') }}</a><br></p>
					</div>
					<!--Widget-->
					<div class="vlt-widget vlt-widget--socials">
						{% for item in theme_var('footer-social') %}
							<a href="{{ item.socialIconLink }}" class="vlt-social-icon vlt-social-icon--style-2">
								<i class="{{ item.socialIconClass }}" aria-hidden="true"></i>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>

		</div>
	</nav>


</div>


<div class="d-lg-none d-sm-block">
	<header class="vlt-header vlt-header--fullscreen">
		<div class="vlt-navbar vlt-navbar--main vlt-navbar--transparent vlt-navbar--sticky vlt-navbar--transparent vlt-navbar--sticky {% if header_style == 'light' %} vlt-navbar--white-text-on-top {% endif %}">
			<div class="container">
				<div class="vlt-navbar-inner">
					<div class="vlt-navbar-inner--left">
						<div
							class="d-flex align-items-center justify-content-center h-100">
							<!--Logo-->
							<a class="vlt-navbar-logo" href="{{ base_url == '' ? '/' : base_url }}">
								{% include 'partials/logo.html.twig' %}
							</a>
						</div>
					</div>
					<div class="vlt-navbar-inner--right">
						<div
							class="d-flex align-items-center justify-content-center h-100">
							<!--Buttons-->
							<div class="vlt-navbar-buttons d-flex align-items-center">
								<a class="vlt-menu-burger js-fullscreen-menu-toggle" href="#">
									<span class="line-one"></span>
									<span class="line-two"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<nav class="vlt-nav vlt-nav--fullscreen" data-submenu-effect="style-1">
		<div class="vlt-nav--fullscreen__mask">
			<!--Particle image--><img class="vlt-particle" src="{{ url('theme://images/root/square-plus-pattern.png') }}" data-animation-name="zoomIn" alt="" style="--animate-delay: .15s;" loading="lazy">
		</div>
		<div class="vlt-nav-table">
			<div class="vlt-nav-row">
				<div class="vlt-nav--fullscreen__header">
					<div class="container">
						<div
							class="d-flex align-items-center justify-content-between">
							<!--Logo-->
							<a class="vlt-navbar-logo" href="index.html">
								{% include 'partials/logo.html.twig' %}
							</a>
							<a class="vlt-menu-burger js-fullscreen-menu-toggle" href="#">
								<span class="line-one"></span>
								<span class="line-two"></span>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="vlt-nav-row vlt-nav-row--full vlt-nav-row--center">
				<div class="container">
					<div class="vlt-nav--fullscreen__navigation">
						<!--Navigation-->

						<!--Menu-->
							<ul class="sf-menu" data-back-text="Back"> {% for page in pages.children.visible %}
								{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
								{% if config.themes.bootstrap4.dropdown.enabled and page.children.visible.count > 0 %}
									<li class="menu-item menu-item-has-children {{ current_page }}">
										<a href="#">
											<span>{{ page.menu }}</span>
										</a>
										<ul class="sub-menu">
											{% for child in page.children.visible %}
												<li class="left">
													<a href="{{ child.url }}" class="{{ current_child }}">
														<span>{{ child.menu }}</span>
													</a>
												</li>
											{% endfor %}
										</ul>
									</li>
								{% else %}
									<li class="menu-item {{ current_page }}">
										<a href="{{ page.url }}">
											<span>{{ page.menu }}</span>
										</a>
									</li>
								{% endif %}
							{% endfor %}
						</ul>

						<div>
							<!--Widget-->
							<div class="vlt-widget vlt-widget--links">
								<ul>
									{% for item in theme_var('navbar_secondary_links') %}
										<li>
											<a href="{{item.url}}" target="{{item.target}}">{{item.label}}</a>
										</li>
									{% endfor %}
								</ul>
							</div>
							<div class="vlt-gap-20"></div>
							<!--Widget-->
							<div class="vlt-widget vlt-widget--html">
								{% for item in theme_var('navbar_footer_links') %}
									<div>
										<a class="vlt-simple-link vlt-simple-link--sm" href="{{item.url}}" target="{{item.target}}">{{item.label}}</a>
									</div>
								{% endfor %}
								<div class="vlt-gap-20"></div>
								<p>
									<a class="vlt-simple-link vlt-simple-link--sm" href="mailto:{{ theme_var('footer-contact') }}" target="_self">{{ theme_var('footer-contact') }}</a><br></p>
							</div>
							<!--Widget-->
							<div class="vlt-widget vlt-widget--socials">
								{% for item in theme_var('footer-social') %}
									<a href="{{ item.socialIconLink }}" class="vlt-social-icon vlt-social-icon--style-2">
										<i class="{{ item.socialIconClass }}" aria-hidden="true"></i>
									</a>
								{% endfor %}
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="vlt-nav-row">
				<div class="vlt-gap-60"></div>
			</div>
		</div>
	</nav>
</div>
